@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
    list-style: none;
    text-decoration: none;
}
html, body{
    height: 100%;
    background: linear-gradient(27deg, rgba(0,17,32,1) 0%, rgba(0,17,32,1) 59%, rgba(0,36,68,1) 100%);
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

@media  (max-width: 700px) {
    .container-apresentation .perfil{
        width: 20%;
    }
    .header-container{
        padding: 0;
    }
    .hamburguer{
        top: 20px;
        left: 90%;
        width: 25px;
        height: 2px;
        background-color: white;
        position: absolute;
        transition: 0.5s;
    }
    .hamburguer::before{
        top: 7px;
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: white;
        transition: 0.5s;
    }
    .hamburguer::after{
        top: -7px;
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: white;
        transition: 0.5s;
    }
    .header-container{
        position: fixed;
        width: 100%;
        z-index: 10;

        background: linear-gradient(27deg, rgba(0,17,32,1) 0%, rgba(0,17,32,1) 59%, rgba(0,36,68,1) 100%);
        background-repeat: no-repeat;
    }

    .content-text ul{
        flex-direction: column;
        text-align: right;
        padding-top: 40px;
        z-index: 10;
    }

    .icon.iconActive .hamburguer{
        background-color: transparent;
        transition: 0.5s;
        z-index: 2;
    }
    .icon.iconActive > main:hover{
        
        filter: blur(50px);
    }

    .icon.iconActive .hamburguer:after{
        top: 0;
        transform: rotate(225deg);
        box-shadow: 0 5px rgba(0,0,0,0.5) ;
        transition: 0.5s;
    }

    .icon.iconActive .hamburguer:before{
        top: 0;
        transform: rotate(135deg);
        box-shadow: 0 -2px rgba(255, 2, 2, 0.5);
        transition: 0.5s;
    }
    .menu.menuOpen{
        position: absolute;
        width: 100%;
        top: 0px;
        z-index: 1;
        box-shadow: 2px 5px 20px 8px rgba(0, 0, 0, 0.2);
        padding: 15px;
    }
    .menu.menuClose{
        display: none;
    }
    .logo a:before{
        content: 'ES';
        visibility: visible;
        margin: 5px;
    }
    .logo a{
        visibility: hidden;
    }

    /*Sobre mim*/
    .about-me .container-about{
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .grid-card{
        margin: 57px 25px 17px 35px;
    }
    .about-me .perfil{
        display: none;
    }
    .main-about{
        margin-bottom: 23px;
        border-left: 0px;
        text-align: center;
    }
    .main-about .text-about{
        font-size: 28px;
        margin-left: 0px;
    }
    .main-about .title-about{
        font-size: 30px;
        margin-left: 0px;
    }
    .main-about .paragraph-about{
        font-size: 18px;
        margin: 0 0 -5px 0px;
    }
    .descrição-about{
        font-size: 16px;
        text-align: center;
    }
    .Container-buttons{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
}